* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black; */
}

button {
  margin: 20px;
}

.SurveyModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(109, 95, 95);
  justify-content: space-around;
  width: 400px;
  height: 300px;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal > div {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  animation: modal-show 0.3s;
  overflow: hidden;
}

.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.landingPage {
  user-select: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.SurveyModalBtn {
  display: flex;
  width: 400px;
  height: 80px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.SurveyModalBtn button {
  width: 8rem;
  height: 30px;
}
.langdingImg {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 150px;
}

.langdingImg img {
  margin: 20px auto;
}
.surTypeTags {
  display: flex;
  flex-direction: row;
}

.surNextPrevBox {
  display: flex;
  flex-direction: row;
  width: 100rem;
  justify-content: space-around;
}
.surDKnowBtn {
  display: flex;
  justify-content: center;
}

.surFirstBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.langdingImg img {
  width: 50%;
}

.surveySkipBtn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}

.surMainText {
  margin-top: 300px;
  margin-bottom: 20px;
}

.kindOfWine {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.resultCardBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20rem;
}
.resultBtnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
}
.goToSignUpBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frontCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.backCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardLeft {
  position: absolute;
  transition: all 1s ease;
  transition-delay: 0.5s;
}
.cardCenter {
  position: absolute;
  transition: all 1s ease;
  transition-delay: 1s;
}
.cardRight {
  position: absolute;
  transition: all 1s ease;
  transition-delay: 1.5s;
}

.wine {
  width: 317px;
  height: 490px;
  position: absolute;
}
