ul {
  /* background-color: rgb(241, 237, 237); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prata", "Noto Serif KR", serif;
  color: rgb(170, 20, 20);
  /* line-height: 1.6; */
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
li {
  list-style-type: none;
}
h2 {
  margin-bottom: 0;
}
.surResultContainer {
  display: flex;
  flex-direction: column;
  user-select: auto;
}
.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  position: absolute;
}
.container::-webkit-scrollbar {
  display: none;
}
section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}
.title {
  cursor: pointer;
  margin: 0px 10px;
}
.title:hover {
  color: rgb(240, 119, 88);
}
/* *      랜딩페이지 첫번째        */
.SurveyModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(109, 95, 95);
  justify-content: space-around;
}
.FirstPage {
  background-image: url("./img/wine-bottles-3623697_1920.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.FirstPage > div {
  margin: 0px 30px;
}
.FirstPage_Summery h1 {
  margin: 0;
  font-size: 100px;
}
.FirstPage_Summery p {
  font-size: 20px;
}
.FirstPage_InputSurvey {
  display: flex;
  font-size: 50px;
}
.fa,
.fas {
  font-weight: 900;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0px 7px;
  cursor: pointer;
}

.scroll-down {
  font-family: "Noto Sans KR", sans-serif;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  opacity: 1;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.scroll-down i {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.scrollDownImg img {
  text-align: center;
}
.LandingHeader {
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  font-size: 40px;
  font-weight: bold;
  line-height: 30px;
  padding: 23px;
  display: flex;
  justify-content: space-between;
  left: 25px;
  top: 25px;
  right: 25px;
  border-bottom: 1px solid;
}
.MainHeader {
  margin: 25px;
  position: relative;
  top: 0;
  z-index: 1;
  font-size: 40px;
  font-weight: bold;
  line-height: 30px;
  padding: 23px;
  display: flex;
  justify-content: space-between;
  background-color: #f9f1e6;
}

.headerMeun {
  font-size: 15px;
  cursor: pointer;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
}
.headerMeun > div {
  margin: 0px 40px;
}
.headerMeun :nth-child(3) {
  margin-right: 10px;
}
.togle {
  position: absolute;
  top: 100%;
  margin-top: 1rem;
  right: 0px;
}
.togle > .menuWrapper {
  position: relative;
  z-index: 5;
  width: 12rem;
  background: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
}
.menuWrapper > div {
  color: rgb(33, 37, 41);
  padding: 0.75rem 1rem;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
}

.MyAccount {
  display: flex;
}
.MyAccount :nth-child(2) {
  margin: 7px;
}
.SignInModal div {
  font-size: 30px;
}
.SignInModal input {
  width: 40%;
  height: 7%;
}
.closeModal {
  cursor: pointer;
}
.failed_signin {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  height: 100px;
  border: 5px solid #0f4d86;
  border-radius: 15px;
  padding: 35px;
  background-color: #77acf1;
  transition: opacity 1.5s ease;
  font-size: 20px;
  color: white;
  bottom: 500px;
}
/* *      랜딩페이지 두번째        */

.SecondPage {
  background-image: url("./img/KakaoTalk_Photo_2021-05-20-00-28-15.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.SecondPage > div {
  margin: 0px 30px;
}
.SecondPage_Summery h1 {
  margin: 0;
  font-size: 30px;
}
/* *      랜딩페이지 세번째        */

.ThirdPage {
  background-image: url("./img/KakaoTalk_Photo_2021-05-20-00-28-22.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
/* *      랜딩페이지 네번째        */

.FourthPage {
  background-image: url("./img/KakaoTalk_Photo_2021-05-20-00-28-22.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.SignInModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(109, 95, 95);
  justify-content: space-around;
  width: 400px;
  height: 300px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal > div {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: #fff;
  animation: modal-show 0.3s;
  /* overflow: hidden; */
}

.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.SignInModalBtn {
  display: flex;
  width: 400px;
  height: 80px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.SignInModalBtn button {
  width: 8rem;
  height: 30px;
}

.surTypeTags {
  display: flex;
  flex-direction: row;
}

.surNextPrevBox {
  display: flex;
  flex-direction: row;
  width: 100rem;
  justify-content: space-around;
}
.surDKnowBtn {
  display: flex;
  justify-content: center;
}

.surveySkipBtn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}

.question {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question h1 {
  font-size: 50px;
  margin: 0;
}
.hr {
  width: 80%;
}
.question p {
  opacity: 0.5;
  color: gray;
  margin: 0;
}
.survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.surveyBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 23px;
  background: #ffffff;
  box-shadow: 7px 7px 20px #a6a6a6, -7px -7px 20px #ffffff;
}
.surMainText {
  margin-top: 100px;
  margin-bottom: 20px;
}
.wineTypeBox {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.wineTypeTag {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  width: 200px;
  text-decoration: none;
}
.wineTypeTag button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: black;
  user-select: auto;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}
.wineTypeTag button:hover {
  box-shadow: 0 0 5px 0 skyblue inset, 0 0 10px 1px skyblue;
  border: 1px solid skyblue;
}
.wineTypeTag button:active {
  background-color: skyblue;
}
.wineTypeTag button:visited {
  background-color: skyblue;
}
.wineTypeTag button::after {
  background-color: skyblue;
}

.resultBtnBoxBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.resultCardBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20rem;
}
.resultBtnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
}
.goToSignUpBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frontCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.backCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardLeft {
  position: absolute;
  transition: all 1s ease;
  transition-delay: 0.5s;
}
.cardCenter {
  position: absolute;
  transition: all 1s ease;
  transition-delay: 1s;
}
.cardRight {
  position: absolute;
  transition: all 1s ease;
  transition-delay: 1.5s;
}

.wine {
  width: 317px;
  height: 490px;
  position: absolute;
}

/**Main**/

.mainNav {
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
  align-items: center;
}
.mainNavMenu {
  display: flex;
}
.mainLogoSearchBox {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.mainSearchBar {
  display: flex;
  flex-direction: row;
}
.mainSearchBtn {
  margin: 0;
}

.likeHover {
  display: flex;
  position: absolute;
  bottom: 110px;
  right: 200px;
  color: white;
}
.likeCount {
  font-size: 20px;
  color: white;
  line-height: 170%;
}
.mainWineRatingAvg {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 150px;
  top: 170px;
  color: rgb(196, 118, 1);
  font-size: 25px;
}
.mainWineRatingStars {
  display: flex;
  position: absolute;
  left: 130px;
  top: 250px;
  color: rgb(255, 153, 0);
}

.mainWineCardBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainWineCardList {
  display: flex;
  /* margin-left: 70px; */
}
.mainWineCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 400px;
  cursor: pointer;
  background-color: #faf1e6;
  border-radius: 5px;
  position: relative;
  margin: 0 10px;
  transition: all 0.4s;
  flex-shrink: 0;
}
.mainWineCard:hover {
  background-color: rgba(0, 0, 0, 0.6);
  width: 500px;
  height: 500px;
  margin: 0 20px;
}
.mainWineCard:hover .mainWineData {
  background-color: #fdfaf6a8;

  width: 500px;
  transition: all 0.4s;
}
.mainWineCard:hover .mainWineProfile img {
  margin-left: 130px;
  transition: all 0.4s;
}
.mainWineCard:hover .mainWineRatingAvg {
  font-size: 40px;
  margin-left: 50px;
  top: 10px;
  color: rgb(238, 199, 24);
  transition: all 0.4s;
}
.mainWineCard:hover .mainWineRatingStars {
  top: 135px;
  font-size: 40px;
  transition: all 0.4s;
}

.mainWineCard:hover .mainWineContent h2 {
  margin-bottom: 170px;
  width: 400px;
  color: #f9f9f9;
  transition: margin 0.4s;
}
.mainWineCard:hover .mainWineProfile span {
  margin-left: 270px;
  position: absolute;
  bottom: 10px;
  color: bisque;
  transition: margin 0.4s;
}

.mainWineData {
  display: flex;
  justify-content: center;
  background-color: #fdfaf6;
  width: 400px;
  height: 100px;
  margin-top: 300px;
  line-height: 30px;
  flex-direction: column;
  align-items: center;
  color: black;
}
.mainWineProfile img {
  width: 82px;
  height: 300px;
  position: absolute;
  margin-top: 20px;
  margin-left: 70px;
}
.mainWineContent {
  position: absolute;
  margin-top: 180px;
  padding: 10px;
  left: 0;
  bottom: 20px;
}
.mainWineContent p {
  font-size: 15px;
  min-width: 480px;
  color: #f9f9f9;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s;
  transition-delay: 0.3s;
  opacity: 0;
  position: absolute;
  bottom: 60px;
}
.mainWineCard:hover .mainWineContent p {
  opacity: 1;
  bottom: -5px;

  max-height: 200px;
}
.mainWineContent h2 {
  font-size: 28px;
  width: 200px;
  color: rgb(170, 20, 20);
  margin-left: 10px;
  margin-bottom: 220px;
}
.mainWineProfile span {
  font-size: 30px;
  width: 200px;
  color: rgb(170, 20, 20);
  margin-left: 10px;
}
.mainWineContent h2 span {
  display: block;
}
.navBars {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  cursor: pointer;
}
/* .mainWineConBox {
  width: 1024px;
  overflow-y: scroll;
  padding: 0;
} */
.mainWineCon {
  display: flex;
  margin-left: 40px;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  /* height: 750px;
  overflow-y: scroll;
  overflow-x: hidden; */
}

.mainContainers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mainCategoryName {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 30px;
  padding-bottom: 10px;
  width: 200px;
  height: 100px;
  border-bottom: 2px solid;
  display: flex;
  flex-direction: column;
}

.mainCategoryName span {
  display: block;
  margin-left: 70px;
}
.mainLabelBox {
  display: none;
}
.slick-prev,
.slick-next {
  color: #77acf1;
  height: 30px;
  border-radius: 50%;
  padding: 50px;
  z-index: 1000;
  /* background-image: url(./img/arrow_right.svg); */
}
.reviewModal {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 935px;
  width: 100%;
  height: 600px;
}
.reviewBtns {
  display: flex;
}
.reviewWineCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  border: 2px solid black;
}
.reviewBox {
  border: 2px solid black;
}
.likeBox {
  border: 2px solid black;
}
.reviewInputBox {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}
.reviewInput {
  display: flex;
}
.reviewBtn {
  margin: 0;
}
.wineReviewBack {
  background-color: rgba(158, 157, 157, 0.527);
  width: 100%;
  height: 100%;
}
.clickWine {
  animation: fadeIn 0.5s infinite alternate;
  position: absolute;
  top: 20px;
  margin-left: 20px;
}
.mainWineNameBox {
  display: flex;
}
/*             footer                */
.footer {
  display: flex;
  width: 100vw;
  background-color: #f1f1f3;
  color: #4d4d4d;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}
.footerTitle {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
}
.hr2 {
  width: 95%;
}
.footerCORK {
  margin-left: 0px;
}
.footerCrews {
  margin: 20px 0px;
  display: flex;
  line-height: 35px;
  cursor: pointer;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
}
.footerCrews span {
  margin: 0px 10px;
}
.creator {
  display: flex;
  user-select: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.creator > div {
  display: flex;
  user-select: auto;
  flex-direction: row;
}
.creator img {
  border-radius: 20px;
  width: 30px;
  margin: 0px 5px;
}
.footerGitHub {
  display: flex;
  cursor: pointer;
}
.footerGitHub img {
  margin: 0px 10px;
  width: 40px;
}
.footerContent {
  text-align: center;
  color: gray;
}

.mainTagBox {
  display: flex;
  justify-content: center;
}
.typeTag {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.mainWineTypeBox {
  margin-bottom: 28px;
}
.redWhite {
  display: flex;
  margin-bottom: 30px;
}
.roseSparkling {
  display: flex;
}
.bodyTanninTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}
.aciditySweetnessTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainWineTags {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mainWineTypeTags {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mainWineTypeTag {
  border: 2px solid #aa1414;
  border-radius: 15px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  font-weight: 1000;
  color: black;
  margin-right: 10px;
}
/* .mainWineTypeTag:hover {
  border: 2px solid #aa1414;
  background-color: #aa1414;
  color: white;
} */
.mainWineTypeTag.active {
  border: 2px solid #aa1414;
  background-color: #aa1414;
  color: white;
}
.mainWineTag {
  color: black;
}
.toolTip {
  font-weight: bold;
  font-size: 25px;
  position: relative;
  cursor: default;
  margin-bottom: 21px;
}
.toolTipText {
  display: none;
  position: absolute;
  width: 280px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.5em;
  background-color: #aa1414;
  color: white;
  left: 0;
  bottom: -15px;
  margin-left: 60px;
  margin-bottom: 10px;
}
.toolTip:hover .toolTipText {
  display: inline;
  z-index: 1;
}
.mainSearchCategory {
  margin-top: 100px;
  margin-bottom: 100px;
}
.mainWineCategory {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1900px) {
  .clickWine {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow: hidden;
    overflow-y: scroll;
  }
  .mainNav {
    flex-direction: column;
    align-items: flex-start;
  }
  .mainLogoSearchBox {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .mainLogo {
    position: absolute;
    left: 0;
    top: 0;
  }
  .mainNavMenu {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 8px 24px;
    display: none;
    width: 100%;
    text-align: center;
  }
  .navBars {
    display: block;
  }
  .mainNavMenu.active {
    display: flex;
  }

  .mainCategoryName {
    text-align: center;
  }
  .mainWineCategory {
    width: 100%;
  }

  .mainWineProfile {
    width: 82px;
  }
  .mainWineData {
    flex-direction: row;
    width: 100%;
  }
  .slick-slider {
    width: 100%;
  }
  .mainWineConBox {
    width: 100%;
  }
  .mainTagBox {
    display: none;
  }
  .mainTagBox.active {
    display: block;
    width: 800px;
    position: absolute;
  }
  .mainLabelBox {
    display: inline-block;
    position: absolute;
    right: 0;
  }
}

/**slick-slider**/
